name: Sixteenth Worflow
on: push

jobs:
  testing-matrix-job:
    runs-on: ubuntu-latest
    steps:
      - run: node -v
      - uses: actions/setup-node@v3
        with:
          node-version: 12
      - run: node -v